In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [0]:
import findspark
findspark.init("spark-2.4.4-bin-hadoop2.7")# SPARK_HOME
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
!wget https://snap.stanford.edu/data/facebook_combined.txt.gz

In [0]:
!gunzip facebook_combined.txt.gz

In [0]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col
from pyspark.sql mimport functions as F
from pyspark.sql import SparkSession

In [0]:
dataf = open('./facebook_combined.txt','r')
data = [[int(x.split(' ')[0]),int(x.split(' ')[1])] for x in dataf.readlines()]
df = spark.createDataFrame(data, ['from', 'to'])
high_degree_centrality = df.groupBy('from').count().sort(col('count'))

In [0]:
def ALG1(S, k):
    total = 0
    f = df.select('to').where(df['from'].isin([]))
    for i in range(k):
        SS_HDC = high_degree_centrality.filter(col('from').isin(S))
        max_value = S_HDC.select(F.max('count')).collect()[0][0]
        s = S_HDC.select('from').where(S_HDC['count'] == max_value).limit(1).collect()[0][0]
        S.remove(s)
        N1 = df.select('to').where(df['from'] == s)
        N2 = df.select('to').where(df['from'].isin( [item['to'] for item in N1.collect()]))
        tmp =N1.union(N2)
        total += tmp.count()
        f.union(tmp)
    unique = f.count()
    COV = 100 - (unique/total)*100
    return COV

In [0]:
ALG1([1,2,3,20],2)

100.0

In [0]:
def Dist(s, t, td):
    i = 0
    if s == t:
        return 0
    tmp = [s]
    while i < td:
        print(i)
        i+=1
        N = df.select('to').where(df['from'].isin(tmp))
        if N.select('to').where(N['to'].isin([t])).count():
            return i 
        tmp = [item['to'] for item in N.collect()]

In [0]:
Dist(1,2, 10)